#div_id_pistao_com_anel{
    width : 200px;
	height: auto;
    margin-left: 20px;
    margin-top : 15px;
	display:inline-block;
}


#div_id_aneis_do_pistao{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}


#div_id_retentor_tras{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}


#div_id_bronz_biela{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}


#div_id_bucha_comando{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_kits_motor{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_bronzina_mancal{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_bucha_biela{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_meia_lua{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_retentor_diant{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_sedes_escape{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_guias_escape{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}


#div_id_paraf_biela{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_jogo_de_juntas{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_retentor_tras{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_sedes_admissao{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}


#div_id_guias_admissao{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}


#div_id_valvulas_admissao{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_molas{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_calcos{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_tucho_valvulas{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}


#div_id_valvulas_escape{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_chavetas{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_pratos{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_vedadores{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_vareta_valvulas{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_regl_balanceiro{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_engr_comando{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_chaveta_comando{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_bucha_balanceiro{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_porca_reguladora{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_comando_valvula{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_flange_comando{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_eixo_balanceiro{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_balanceiro{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_suporte_balanceiro{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_trava_balanceiro{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_peneira{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_bomba_agua{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_valv_termostatica{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_cx_valv_termost{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_arruelas_mancal{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_paraf_balanceiro{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_valvula_pressao{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}	

#div_id_bomba_oleo{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_suporte_bba_agua{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_bocal_agua{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_mang_valv_termost{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_mang_bba_agua{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_cremalheira{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_paraf_cabecote{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_chaveta_virarbequim{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_aneis_compressor{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}


#div_id_bucha_biela_compr{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_engr_virabrequim{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_paraf_volante{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_colar_engrenagem{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_vareta_oleo{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_pistao_compressor{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_bronz_biela_compr{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_reparo_compressor{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_c_parafuros{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_bucha_mancal_compr{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_camisa_cilindro{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_rep_compressor_sup{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_filtro_lubrificante{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_turbina{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_c_carter{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_bulbo_temp{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}	


#div_id_c_bujao{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_c_capas{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_mangueira{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}


#div_id_abracadeira{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_rep_compressor_inf{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_valv_filtro_lubrif{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_turbina{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}


#div_id_c_peneira{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_volante{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_tampa_valvulas{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_suporte_motor{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_alternador{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}


#div_id_c_flexivel{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_plato{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_tampa_lateral{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}


#div_id_cano_vareta{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_polia{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_friccao{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_bielas{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_filtro_comb{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_tubo_admissao{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_paraf_carter{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_c_pistao{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_acelerador{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_arranque_montado{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_tubo_escape{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_comando{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_bomba_hidraulica{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_carcaca{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_tampa_distribuicao{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}

#div_id_c_polia{
    width : 200px;
	height: auto;
    margin-left: 50px;
    margin-top : 15px;
	display:inline-block;
}










#div_id_cliente{
    width: 150px;
    height: auto;
    margin-bottom: 15px;    
	
}

#id_data_entrada{
    width: 130px;
    height: auto;
	margin-bottom: 15px;   
}

#id_data_saida{
    width: 130px;
    height: auto;
    margin-bottom: 15px;    
	
}

#id_numero_chassi{
    width: 150px;
    height: auto;
    
    margin-bottom: 15px;    
}



