{% extends 'modelo.html' %}
{% load static %}

{% block titulo %} Ordem de Serviço {% endblock %}

{% block conteudo %}
    <head>
 <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Última versão CSS compilada e minificada -->
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Última versão CSS compilada e minificada -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../static/css/index.css"> 


<form>
    <input id="dark-mode" class="toggle" type="checkbox" name="Dark mode" role="switch" value="on">
    <label for="dark-mode" class="sr" text="Modo Escuro"></label>	
    <div class="curtain"></div>
  </form>
  
  <text id="darkmode">Alterar modo</text>


    <h3 text-align="center"> Ordem de Serviço</h3>
	
</head>
    <hr>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tag %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        <input type="input" name="campobusca" autocomplete="off">
        <input type="submit" name="buscaordem" class="btn btn-primary" value="Buscar Ordem por numero" role="button"/>
        <input type="submit" name="buscaordemcliente" class="btn btn-primary" value="Buscar Ordem por cliente" role="button"/>
        <a class="btn btn-primary" href="{% url 'novaordem' %}" role="button">Nova Ordem</a>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Cliente</th>
                <th>Data Entrada</th>
                <th>Data Saída</th>
                <th>Apagar</th>
            </tr>
        </thead>
        {% for dados in queryset %}   
            <tr>
                <td><a href="{% url 'atualizaordem' dados.id %}">{{dados.numeroordem}}</a></td>
                <td>{{dados.cliente}}</td>
                <td>{{dados.data_entrada}}</td>
                <td>{{dados.data_saida}}</td>
                <td><a href="{% url 'apagarordem' dados.id %}">Apagar </a></td>
            </tr> 
        {% endfor %}   
    </table>
{% endblock %}
