{% load static %}

<!DOCTYPE html>

<html lang="pt-br">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} <title>Login</title> {% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
  </head>

  <body>

    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="OK">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}

    {% block body %}
      <div id="login-container">
        <h1>Login</h1>
        <form action="" method="POST">
          {% csrf_token %}
          <label for="user">Usuario</label>
          <input type="user" name="user" id="user" placeholder="Digite seu nome de usuario" autocomplete="off">
          <label for="password">Senha</label>
          <input type="password" name="password" id="password" placeholder="Digite sua senha">
          <a href="#" id="forgot-pass">Esqueceu a senha?</a>
          <input type="submit" value="Logar">
        </form>
        {% block link %}
          <div id="register-container">
            <p>Ainda não tem uma conta?</p>
            <a href="{% url 'registro' %}">Registrar</a>
          </div>
        {% endblock %}
        <div class="google-btn">
          <div class="google-icon-wrapper">
            <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
          </div>
          <p class="btn-text"><b>Sign in with google</b></p>
        </div>
      </div>
    {% endblock %}
  </body>

</html>