{% extends 'login.html' %}
{% load static %}
{% block title %} <title>Registro</title> {% endblock %}
{% block body %}
    <div id="register-container">
        <h1>Registro</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <!--{{ form.as_p }}-->
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="Digite seu e-email" autocomplete="off">
            <label for="password">Senha</label>
            <input type="password" name="password" id="password" placeholder="Digite sua senha">
            <input type="submit" value="Cadastrar">
        </form>
    </div>
{% endblock %}