{% extends 'login.html' %}
{% load static %}
{% block title %} <title>Registro</title> {% endblock %}
{% block body %}
    <div id="login-container">
        <h1>Registro</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="user">Usuario</label>
            <input type="user" name="user" id="user" placeholder="Digite seu nome de usuario" autocomplete="off">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="Digite seu e-email" autocomplete="off">
            <label for="password">Senha</label>
            <input type="password" name="password" id="password" placeholder="Digite sua senha">
            <input type="submit" value="Registrar">
        </form>
        {% block link %}
            <div id="register-container">
                <a href="{% url 'home' %}">Voltar</a>
            </div>
        {% endblock %}
      </div>
    </div>
{% endblock %}